

body {height:100%; padding:0 !important;}

/* 기본 틀 */
.wrap {display:flex; height:100%;}
.wrap aside.menu {width:330px; height:100%; background-color:#F8F8F8;}
.wrap section.container {flex:1; padding:24px; height:100%; background-color:#fff !important; overflow-y:auto;}
/* // 기본 틀 */


/* 메뉴 */
aside.menu {border-right:1px solid #D3D3D3;}
aside.menu .menu_tit {padding:24px 24px 22px 24px; border-bottom:4px solid #00B140;  background-color:#005EB8;}
aside.menu .menu_tit strong {display:inline-block; color:#fff; font-size:28px; line-height:33px; font-weight:bold;}
aside.menu .menu_list li button {position:relative; height:54px; padding:15px 24px; text-align:left;}
aside.menu .menu_list li button span {position:relative; padding-left:28px; color:#9A9A9A; font-size:20px; font-weight:500; font-family:'Pretendard';}
aside.menu .menu_list li button.active {background-color:#fff;}
aside.menu .menu_list li button.active span {color:#005EB8; font-weight:bold;}
aside.menu .menu_list li button.active span::before {content:""; display:block; position:absolute; top:50%; left:0; width:16px; height:16px; background:url('../images/ico_nav.png') no-repeat center / contain; transform: translateY(-50%);}
/* // 메뉴 */


/* 페이지 메인 타이틀 */
.page_tit_wrap {display:flex; justify-content:space-between; align-items:center; gap:0 20px; margin-bottom:10px; padding-bottom:5px;/*  border-bottom:2px solid #005EB8; */}
.page_tit {display:inline-flex; align-items:center; gap:12px; font-family:'Pretendard';}
.page_tit div.tit {display:inline-flex; align-items:center; gap:6px;}
.page_tit div.tit span {display:inline-block;}
.page_tit div.tit span.ico {width:24px; height:24px;}
.page_tit div.tit strong.tit {color:#000; font-size:22px; line-height:26px; font-weight:700; white-space:nowrap;}
/* .page_tit p.txt {color:#00B140; font-size:16px; line-height:19px; font-weight:500;} */
/* // 페이지 메인 타이틀 */

/* 컨텐트 타이틀 */
.tit_wrap {display:inline-flex; align-items:center; gap:12px; padding:15px 0 11px; font-family:'Pretendard';}
.tit_wrap div.tit {display:inline-flex; align-items:center; gap:6px;}
.tit_wrap div.tit span {display:inline-block;}
.tit_wrap div.tit span.ico {width:24px; height:24px;}
.tit_wrap div.tit strong.tit {color:#000; font-size:22px; line-height:26px; font-weight:700;}
.tit_wrap p.txt {color:#00B140; font-size:16px; line-height:19px; font-weight:500;}
/* // 컨텐트 타이틀 */


/* 기본 입력폼 테이블 */
table.form_table {width:100%; border-top:2px solid #4A4A4A; font-family:'Pretendard';}
table.form_table th {padding:6px 10px; background:#ebf5ff; border:1px solid #ddd; vertical-align:middle; text-align:left;}
table.form_table th span {color:#000; font-size:16px; line-height:19px; font-weight:400;}
table.form_table th:first-of-type {border-left:0 none;}
table.form_table td {padding:6px; border:1px solid #ddd; background-color:#fff; vertical-align:middle;}
table.form_table .tac {text-align:center;}
table.form_table tr td:last-of-type {border-right:none;}
table.form_table tr > td:first-child {border-left:none;}
table.form_table tr td.tit {background-color:#f9f9f9;}
/* // 기본 입력폼 테이블 */


/* form_table 입력 용 */
table.form_table div.custom_group {display:flex; align-items:center; gap:0 4px; width:100%;}
div.custom_group {display:flex; align-items:center; gap:0 4px; width:100%;}
/* // form_table 입력 용 */


/* 리스트형 테이블 */
div.table_list_wrap {}
table.table_list {width:100%; border-top:2px solid #4A4A4A; font-family:'Pretendard';}
table.table_list th {padding:10px 6px; background:#ebf5ff; border:1px solid #ddd; vertical-align:middle;}
table.table_list th span {color:#000; font-size:16px; line-height:19px; font-weight:400;}
table.table_list th:first-of-type {border-left:0 none;}
table.table_list td:first-of-type {border-left:0 none;}
table.table_list td {padding:10px; border:1px solid #ddd; background-color:#fff; vertical-align:middle; text-align:center; word-break:break-all;}
table.table_list td button {background-color:transparent; text-align:center;}
table.table_list td button span {color:#005EB8;}
table.table_list tr td:last-of-type {border-right:none;}
table.table_list tr td.tal {text-align:left;}
table.table_list tr td.tar {text-align:right;}
table.table_list tr td.tit {background-color:#f9f9f9;}
table.table_list tr.active td {background-color:#efffe5;}
table.table_list td.our {background-color:#fbe5d6;}
table.table_list td.other {background-color:#fff5d9;}
/* // 리스트형 테이블 */


/* 리스트 페이지 */
.pagination_wrap {display:flex; justify-content:space-between; align-items:center; width:100%; padding:20px;}
.pagination_wrap span {display:inline-block;}
.pagination_wrap div.search_count {display:inline-flex; align-items:center; gap:5px;}
.pagination_wrap div.search_count span.txt {}
.pagination_wrap div.search_count span.count {padding:0.25em 1em; border:1px solid #ddd; background-color:#f9f9f9; font-weight:bold;}
.pagination_wrap div.more_list button {background-color: #333; border-radius:0.25em; color:#fff;}
.pagination_wrap div.more_list button span {padding:0.25em 1em;}
/* // 리스트 페이지 */



.alert_txt {color:#00B140; font-size:16px; line-height:19px; font-weight:500; font-family:'Pretendard';}


/* 캘린더와 시간 관련 아이콘 숨기기 */
/* 웹킷 브라우저용 */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator,
input[type="week"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
}



/* custom-checkbox */
input[type='text'] {height:32px; padding:0 12px; border:1px solid #ddd; border-radius:6px; background-color:#fff;}
input[type='text']:required {background:#FFF2B5;}
label.ipt_chk {display:inline-flex; align-items:center; gap:0 4px; position:relative; user-select:none; cursor:pointer;}
label.ipt_chk input[type='checkbox'] {position:absolute; width:0; height:0; opacity:0;}
label.ipt_chk span.checkmark {display:inline-block; position:relative; width:26px; min-width:26px; height:26px; border:1px solid #4A4A4A; border-radius:4px; box-shadow: inset 3px 3px 2px rgba(0,0,0,0.16); background:#fff url('../images/ico_chk.png') no-repeat 50% -400% / 20px 20px;}
label.ipt_chk span.checkmark::before {content:""; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background-color:#fff; opacity:1; transition:all 0.04s ease-in-out; border-radius:4px; box-shadow: inset 3px 3px 2px rgba(0,0,0,0.16);}
label.ipt_chk input[type='checkbox']:checked ~ span.checkmark {background-position:50% 50%;}
label.ipt_chk input[type='checkbox']:checked ~ span.checkmark::before {opacity:0;}
label.ipt_chk span.txt {display:inline-block; font-size:16px; line-height:19px; font-family :'Pretendard'; white-space:nowrap;}
/* custom-checkbox */


/* custom-input-checkbox */
/* .custom-input-checkbox {display:inline-flex; justify-content:center; line-height:1em;}
.custom-input-checkbox label {display:inline-flex; align-items:center; gap:0 4px; position:relative; user-select:none; cursor:pointer;}
.custom-input-checkbox label input[type='checkbox'] {position:absolute; width:0; height:0; opacity:0;}
.custom-input-checkbox label input[type='checkbox'] ~ span.checkmark {display:inline-flex; justify-content:center; align-items:center; position:relative; width:26px; min-width:26px; height:26px; border:1px solid #4A4A4A; border-radius:100%; box-shadow: inset 3px 3px 2px rgba(0,0,0,0.16); background:#fff url('../images/ico_chk.png') no-repeat 50% -400% / 20px 20px;}
.custom-input-checkbox label input[type='checkbox']:checked + span.checkmark::before {content:""; display:inline-block; position:absolute; top:50%; left:50%; width:50%; height:50%; border-radius:100%; background-color:#005EB8; transform:translate(-50%,-50%);}
.custom-input-checkbox label input[type='checkbox'] ~ span.txt {display:inline-block; font-size:16px; line-height:19px; font-family :'Pretendard'; white-space:nowrap;} */
/* // custom-input-checkbox */


/* custom-input-radio */
.custom-input-radio {display:inline-flex; justify-content:center; line-height:1em;}
.custom-input-radio label {display:inline-flex; align-items:center; gap:0 4px; position:relative; user-select:none; cursor:pointer;}
.custom-input-radio label input[type='radio'] {position:absolute; width:0; height:0; opacity:0;}
.custom-input-radio label input[type='radio'] ~ span.checkmark {display:inline-flex; justify-content:center; align-items:center; position:relative; width:26px; min-width:26px; height:26px; border:1px solid #ddd; border-radius:100%; box-shadow: inset 1px 1px 2px rgba(0,0,0,0.16);}
.custom-input-radio label input[type='radio']:checked + span.checkmark::before {content:""; display:inline-block; position:absolute; top:50%; left:50%; width:50%; height:50%; border-radius:100%; background-color:#005EB8; transform:translate(-50%,-50%);}
.custom-input-radio label input[type='radio'] ~ span.txt {display:inline-block; font-size:16px; line-height:19px; font-family :'Pretendard'; white-space:nowrap;}
/* // custom-input-radio */

/* custom-input-text */
.custom-input-text {display:flex; align-items:baseline; gap:0 4px; max-width:100%;} 
.custom-input-text button.btn_triger {}
.custom-input-text button.btn_triger span.ico {display:inline-block; width:20px; height:20px;}
.custom-input-text input[type='text'] {height:32px; padding:0 12px; border:1px solid #ddd; border-radius:6px; background-color:#fff; font-size:16px;}
.custom-input-text input[type='text']:required {background-color:#FFF2B5;}
.custom-input-text input[type='text']:disabled,
.custom-input-text input[type='text']:read-only {background-color:#eee;}
.custom-input-text input[type='text'].ipt-money {text-align:right;}
/* // custom-input-text */

/* custom-input-date */
.custom-input-date {display:flex; align-items:baseline; gap:0 4px;}
.custom-input-date button.btn_triger {}
.custom-input-date button.btn_triger span.ico {display:inline-block; width:20px; height:20px;}
.custom-input-date input[type='date'] {height:32px; padding:0 12px; border:1px solid #ddd; border-radius:6px; background-color:#fff; font-size:16px;}
.custom-input-date input[type='date']:required {background-color:#FFF2B5;}
/* // custom-input-date */

/* 주민번호용 입력 창 */
.custom-input-rrn {display:inline-flex; align-items: center; border:1px solid #ddd; border-radius:6px; background-color:#fff;}
.custom-input-rrn input[type='text'],
.custom-input-rrn input[type='password']  {width:100px; border:0 none; background-color:transparent; text-align:center;}
.custom-input-rrn.required {background-color:#FFF2B5;}
/* 주민번호용 입력 창 */


/* custom-select */
.custom-select {position:relative; width:auto; user-select:none; max-width:100%; line-height:0;}
.custom-select select.custom-select_native {display:none;}
.custom-select button.custom-select_trigger {position:relative; width:auto; width:100%; min-width:100px; max-width:100%; height:32px;}
.custom-select button.custom-select_trigger:disabled {background:none !important;}
.custom-select button.custom-select_trigger span {display:block; text-decoration:none;}
.custom-select button.custom-select_trigger span.custom-select_label {display:flex; justify-content:flex-start; align-items:center; width:100%; height:32px; padding:0 36px 0 12px; border:1px solid #D3D3D3; border-radius:6px; background-color:#fff; color:#000; font-size:16px; line-height:19px; white-space:nowrap;}
.custom-select button.custom-select_trigger span.custom-select_icon {display:inline-flex; justify-content:center; align-items:center; position:absolute; top:50%; right:3px; width:26px; height:26px; border:1px solid #4A4A4A; border-radius:4px; background-color:#fff; transform:translateY(-50%); box-shadow:inset -3px -3px 6px rgba(0,0,0,0.16);}
.custom-select button.custom-select_trigger span.custom-select_icon img {display:block; width:20px; height:20px;}
.custom-select button.custom-select_trigger.required span.custom-select_label {background-color:#FFF2B5;}
.custom-select button.custom-select_trigger:disabled span.custom-select_label {background-color:#eee;}

.custom-select ul.custom-select_options {display:none; position:absolute; top:100%; left:0; z-index:100; width:100%; max-height:50vh; border:1px solid #D3D3D3; border-radius:6px; background-color:#FFF1B5; overflow-y:auto;}
.custom-select ul.custom-select_options.drop-up {top:auto; bottom:100%;}
.custom-select ul.custom-select_options li.custom-select_option {height:28px; padding:0 12px; background-color:#fff; font-size:14px; line-height:28px; cursor:pointer; text-align:left;}
.custom-select ul.custom-select_options li.custom-select_option:hover {background-color:#005EB8; color:#fff;}
.custom-select ul.custom-select_options.open {display:block; z-index:10;}
.custom-select button.custom-select_trigger.active span.custom-select_icon img {transform:rotate(180deg);}
/* // custom-select */

/* 강제 100% */
.w50 {width:50% !important}
.w60 {width:60% !important}
.w80 {width:80% !important}
.w100 {width:100% !important}

.tar {text-align:right;}


/* 버튼 좌우 구분 */
.divide_row {display:flex; justify-content:space-between; align-items:center;}
.divide_row .left {display:flex; align-items:center; gap:8px;}
.btn_print {width:auto;}
/* // 버튼 좌우 구분 */


.content_group + .content_group {margin-top:20px;}




/* 중간 탭 + 버튼 */
.tab_group {display:flex; justify-content:space-between; align-items:center; padding-top:12px; border-bottom:2px solid #005EB8;}
.tab_group div.left {float:left;}
.tab_group div.right {display:flex; align-items:center; gap:5px; float:right;}
.tab_group .tab_wrap {display:flex; margin:0;}
.tab_group .tab_wrap button:first-of-type ~ * {margin-left:-2px;}
.tab_group .tab_wrap button.btn_tab {display:inline-flex; justify-content:center; align-items:center; gap:0 6px; width:auto; min-width:100px; height:40px; padding:0 14px; border:2px solid #005EB8; border-bottom:0 none; border-radius:6px 6px 0 0; background-color:#EBEBEB; font-family:'Pretendard';}
.tab_group .tab_wrap button.btn_tab span {display:inline-block;}
.tab_group .tab_wrap button.btn_tab span.ico {width:20px; height:20px;}
.tab_group .tab_wrap button.btn_tab span.txt {color:#9A9A9A; font-size:20px; line-height:24px; font-weight:500; white-space:nowrap;}
.tab_group .tab_wrap button.btn_tab.active {background-color:#005EB8;}
.tab_group .tab_wrap button.btn_tab.active span {color:#fff;}
/* // 중간 탭 + 버튼 */



/* 버튼 기본 디자인 */
button {cursor:pointer;}
.btn_group {display:flex; gap:2px;}

.btn {display:inline-flex; align-items:center; gap:0 6px; width:auto; margin:0; padding:0; background-color:#fff; border-style:solid; border-color:transparent; border-radius:6px; font-family : 'Pretendard'}
.btn span.ico {display:inline-block; width:24px; height:24px; background-color:#ddd; overflow:hidden; font-family:inherit;}
.btn span.ico img {max-width:100%;}
.btn span.txt {display:inline-block; font-family:inherit; white-space:nowrap;}

.btn.btn_sm {height:32px; padding:0 12px; border-width:1px;}
.btn.btn_sm span.ico {width:20px; height:20px;}
.btn.btn_sm span.txt {font-size:16px; line-height:19px; font-weight:400;}
.btn.btn_sm.btn_line {border-color:#4A4A4A;}

.btn.btn_md {height:40px; padding:0 16px; border-width:2px;}
.btn.btn_md span.ico {width:20px; height:20px;}
.btn.btn_md span.ico img {max-width:100%;}
.btn.btn_md span.txt {font-size:20px; line-height:1.2em; font-weight:500;}

.btn.btn_md.btn_line {border-color:#005EB8;}

.btn_fill {border-color:#005EB8; background-color:#D1E4F6;}
.btn_fill span.txt {color:#005EB8;}

.btn_ico {display:inline-flex; justify-content:center; align-items:center; width:26px; min-width:26px; height:26px; border:1px solid #4A4A4A; border-radius:4px; background-color:#fff; box-shadow:inset -3px -3px 6px rgba(0,0,0,0.16)}
.btn_ico span.ico {display:inline-block; width:20px; height:20px;}
.btn_ico span.ico img {width:20px; height:20px;}
/* // 버튼 기본 디자인 */





/*  필터링 REF-NO */
.filter_wrap {display:inline-flex; align-items:center; gap:5px;}
.filter_wrap .search {display:inline-flex; align-items:center;  background-color:#eee; border:1px solid #ddd;}
.filter_wrap .tit {padding:3px 10px; background-color:#eee; line-height:26px;}
.filter_wrap .input input {height:32px; border:0 none; border-radius:0;}
.filter_wrap .btn_txt {width:auto; height:26px;}
/*  // 필터링 REF-NO */




/* tag tab */
.tag_tab_wrap {display:flex; align-items:center; position:relative; gap:14px; width:100%; margin-bottom:8px;}
.tag_tab_wrap .tag_group {display:flex; position:relative;}
.tag_tab_wrap .tag_group + .tag_group::before {content:""; display:block; position:absolute; top:50%; left:-7px; width:1px; height:10px; background-color:#333; transform: translateY(-50%);}
.tag_tab_wrap button {width:auto; padding:0.25em 0.75em; border-radius:4px;}
.tag_tab_wrap button.btn_tag {background-color:#eee;}
.tag_tab_wrap button.btn_tag span {font-size:14px; font-weight:bold;}
.tag_tab_wrap button.btn_tag.active {background-color:#005EB8;}
.tag_tab_wrap button.btn_tag.active span {color:#fff;}
/* // tag tab */



/* modal popup */
.layer.modal {}
.layer.modal div.dim {position:fixed; top:0; right:0; bottom:0; left:0; background-color:rgba(0,0,0,0.3);}
.layer.modal .layer_inner {position:fixed; top:50%; left:50%; width:400px; padding:30px; border-radius:4px; background-color:#fff; transform:translate(-50%,-50%); box-shadow:0 1px 3px rgba(0,0,0,0.16); z-index:2;}
.layer_content {display:flex; flex-direction:column; gap:20px; width:100%;}
.layer.modal .layer_inner div.tit {font-weight:bold;}
.layer.modal .layer_inner table {width:100%;}
.layer.modal .layer_inner table th,
.layer.modal .layer_inner table td {padding:10px; border:1px solid #ddd;}
.layer.modal .layer_inner table th {background-color:#f7f7f7;}
.layer.modal .layer_inner table td {background-color:#fff; text-align:center;}
.layer.modal .layer_inner .close {position:absolute; top:30px; right:30px; width:40px;}
.layer.modal .layer_inner .close button.btn_close {}
.layer.modal .layer_inner .close button.btn_close span {color:transparent;}
.layer.modal .layer_inner .close button.btn_close::before,
.layer.modal .layer_inner .close button.btn_close::after {content:""; display:block; position:absolute; top:50%; left:50%; width:50%; height:2px; background-color:#333;}
.layer.modal .layer_inner .close button.btn_close::before {transform: translate(-50%,-50%) rotate(-45deg);}
.layer.modal .layer_inner .close button.btn_close::after {transform: translate(-50%,-50%) rotate(45deg);}

.layer_footer .btn_group {display:flex; justify-content:center; align-items:center;}
.layer_footer .btn_group button.btn_next {padding:10px 30px; background-color:#005EB8; border-radius:6px;}
.layer_footer .btn_group button.btn_next span {color:#fff;}
/* // modal popup */